<!DOCTYPE html>
<html>
<head>
  <title>Hackmate | Group mode</title>
</head>
<body>
  <header>Welcome hackers</header>
  <section id="groupsinfo">
    <label for="groupname">Name</label>
    <input type="text" name="groupname" id="groupname">
    <label for="description">Name</label>
    <input type="text" name="description" id="description">
    <div id="skillsneeded">
      <label for="skill-fe">Front End</label>
      <input type="checkbox" id="skill-fe" name="skill-fe"></input>
      <label for="skill-be">Back end</label>
      <input type="checkbox" id="skill-be" name="skill-be"></input>
    </div>
    <input type="submit">
  </section>
</body>
</html>
