<!DOCTYPE html>
<html>
<head>
  <title>Hackmate | Group mode</title>
</head>
<body>
  <header>Welcome hackers</header>
  {% for entry in contentArray %}
  <section id="groupsinfo">
    <div class="groupname">
      {{ entry.groupname }}
    </div>
    <div class="description">
      <p>
      {{ entry.description }}
      </p>
    </div>
      <div id="skillsneeded">
        <input type="checkbox" id="skill-fe" name="skill-fe">
        <input type="checkbox" id="skill-be" name="skill-be">
      </div>
  </section>
  {% endfor %}
</body>
</html>

<form action="">
<input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
<input type="checkbox" name="vehicle" value="Car">I have a car
</form>
