<!DOCTYPE html>
<html>
<head>
  <title>HackMate | Available Groups</title>
</head>
<body>
  <header>Scroll down to find your dream match(or the closest thing)!</header>
  {% for entry in contentArray %}
  <section id="groupsinfo">
    <div class="groupname">
      {{ entry.groupname }}
    </div>
    <div class="description">
      <p>
      {{ entry.description }}
      </p>
    </div>
    {% for skill in entry.skills_needed %}
      <!-- {% if skill == u'skill-fe' %} -->
          <input type="checkbox" id="skill-fe" name="skill-fe" disabled="disabled" {{ ("checked") }}>Front-end<br>
      <!-- {% endif %} -->
        <input type="checkbox" id="skill-be" name="skill-be" disabled="disabled" {{ ("checked") }}>Back-end
    {% endfor %}
  </section>
  {% endfor %}
</body>
</html>
