<!DOCTYPE html>
<html>
<head>
  <title>{{page_title}}</title>
  <link rel="stylesheet" href="/mdl/material.min.css">
  <script src="/mdl/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href= "{{link_to_stylesheet}}">
  <script src="{{link_to_script}}"></script>
</head>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <div class="mdl-layout__drawer" class="resizeable">
    <span class="mdl-layout-title" class="resizeable">HackMate</span>
    <nav class="mdl-navigation" class="resizeable">
      <a class="mdl-navigation__link" class="resizeable" href="/login">Login</a>
      <a class="mdl-navigation__link" class="resizeable" href="/solo_hacker_form">Solo Mode</a>
      <a class="mdl-navigation__link" class="resizeable" href="/group_form_info">Group Mode</a>
      <a class="mdl-navigation__link" class="resizeable" href="/solo_hackers">Free Solo Hackers</a>
      <a class="mdl-navigation__link" class="resizeable" href="/groupinput">See Available Groups</a>
      <a class="mdl-navigation__link" class="resizeable" href="/login">Logout</a>
    </nav>
  </div>
</div>
