<!-- <head>
  <script src="../javascript/script.js"></script>
</head> -->
<body>
  <!-- <header>Welcome hacker</header> -->
  <section id="solohackerform">


    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

                <form id="soloform" enctype="multipart/form-data">
                    <h1 class="mdl-card__title-text">Looking for a team? ... you're in the right place</h1>
                    <div class="mdl-textfield mdl-js-textfield">
                          <input class="mdl-textfield__input" type="text" id="soloname" name= "soloname">
                          <label class="mdl-textfield__label" for="soloname">Name...</label>
                    </div>
                    <br>
                    <div class="mdl-textfield mdl-js-textfield">
                          <input class="mdl-textfield__input" type="text" id="solo_slack_id" name= "solo_slack_id">
                          <label class="mdl-textfield__label" for="solo_slack_id">Slack ID...</label>
                    </div>
                    <br>
                    Skills List:
                    <div id="skills_list">
                          <input type="checkbox" class="skill" id="skill-fe" name="skill-fe">
                          <label for="skill-fe">Front End</label>
                          <br>

                          <input type="checkbox" class="skill" id="skill-be" name="skill-be">
                          <label for="skill-be">Back End</label>
                          <br>

                          <input type="checkbox" class="skill" id="skill-python" name="skill-python">
                          <label for="skill-python">Python Expert</label>
                          <br>

                          <input type="checkbox" class="skill" id="skill-java" name="skill-java">
                          <label for="skill-java">Java Guru</label>
                          <br>

                          <input type="checkbox" class="skill" id="skill-html" name="skill-html">
                          <label for="skill-html">HTML Wizard</label>
                          <br>

                          <input type="checkbox" class="skill" id="skill-css" name="skill-css">
                          <label for="skill-css">CSS Pro</label>
                          <br>
                          <br>

                  </div>
                  <div>
                    <br>
                  <button class="mdl-button mdl-js-button mdl-button--raised" id="btn">Submit</button>
                </div>

              </form>

              </div>


  </section>
</body>
