<!DOCTYPE html>
<html>
<head>
  <title>HackMate | Available Groups</title>
  <link rel="stylesheet" href="/mdl/material.min.css">
  <script src="/mdl/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>Scroll down below to find your perfect match(or the closest thing)!</header>
  {% for entry in contentArray %}
  <section id="groupsinfo">
    <div class="groupname">
      {{ entry.groupname }}
    </div>
    <div class="description">
      <p>
      {{ entry.description }}
      </p>
    </div>
    {% for skill in entry.skills_needed %}
      <li>{{skill}}</li>
    {% endfor %}
  </section>
  {% endfor %}
</body>
</html>
